footer {
  background: #01283e;
  text-align: center;
  color: white;
  padding: 2rem;
}

footer nav ul {
  justify-content: center;
  padding: 1rem;
}

@media screen and (min-width: 576px) {
  footer nav li:not(:last-child)::after {
    content: "|";
    margin-left: 1rem;
  }
}
@media screen and (max-width: 576px) {
  #Footer nav ul {
    flex-direction: column;
  }
}
