/* Will work for all the terms pages such as terms/amazon, terms/linkedin */
.back-link {
  display: block;
  padding: 0.5rem 0;
}

.platform-link {
  text-decoration: none;
  color: inherit;
}

#terms-hero {
  background-color: #d8f0fa;
}

#terms-hero img {
  display: block;
  width: calc(120px + 4vw);
}

#terms-hero .flex-container {
  display: flex;
  align-items: center;
}

#terms-hero .icon-box {
  padding: 2rem 2rem 2rem 0;
}

#clauses {
  padding: 3rem 0;
}

.clause-section {
  padding: 1rem 0;
}

.clause-section h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.section-clauses{
  border-radius: 1rem;
  padding: 1rem 0;
}

.clause-object-heading{
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 0.25rem;
}

.clause-object-heading .clause-heading-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clause-object-heading .expand-collapse-icon{
  margin-left: auto;
  padding: 0.5rem 1rem;
}

.clause-object-heading .expand-collapse-icon svg{
  display: block;
  width: 1.25rem;
  height: auto;
}

.clause-object-heading .expand-collapse-icon svg polygon {
  fill: black;
}

.clause-object-heading .clause-icon svg{
  display: block;
  padding: 0.5rem 1rem;
  width: 2rem;
  height: auto;
}

.clause-object-heading .clause-icon {
  font-size: 2rem;
}

.clause-container,
.clause-header {
  display: flex;
}

.clause-container{
  align-items: center;
}

.clause-container {
  padding: 0.5rem 1rem;
}

.clause-header {
  justify-content: space-between;
}
.clause-header p:nth-child(2) {
  text-align: right;
}

.clause-box {
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  flex-basis: 96%;
}

.clause-count {
  flex-basis: 4%;
  text-align: center;
}

/* Colors */
.Danger .clause-box {
  background-color: rgba(246, 65, 65, 0.2); 
}
.Caution .clause-box {
  background-color: rgba(255, 218, 89, 0.2); 
}
.Safety .clause-box {
  background-color: rgba(107, 191, 89, 0.2); 
}
.Danger .clause-icon svg {
  color: rgba(199, 1, 1, 1); 
}
.Caution .clause-icon svg {
  color: rgba(197, 142, 89, 1); 
}
.Safety .clause-icon svg {
  color: rgba(14, 139, 79, 1); 
}
.Danger .clause-object-heading {
  background-color: rgba(246, 65, 65, 0.5); 
}
.Caution .clause-object-heading {
  background-color: rgba(255, 218, 89, 0.5); 
}
.Safety .clause-object-heading {
  background-color: rgba(107, 191, 89, 0.5); 
}
.Danger .section-clauses {
  background-color: rgba(246, 65, 65, 0.1); 
}
.Caution .section-clauses {
  background-color: rgba(255, 218, 89, 0.1); 
}
.Safety .section-clauses {
  background-color: rgba(107, 191, 89, 0.1); 
}


@media screen and (max-width: 768px) {
  #terms-hero .flex-container {
    flex-direction: column;
  }
  #terms-hero .icon-box {
    padding: 1rem;
  }
}
