body {
    font-family: "Open Sans", sans-serif;
}

#NoPage {
    text-align: center;
}

p {
    font-size: calc(1.2rem + 0.1vw);
}

.container-outer {
    display: flex;
    flex-direction: column;
}

.inner-container {
    width: 80vw;
    margin: auto;
}

section {
    padding: 4rem 0;
}

/* Tablet (768px) */
@media screen and (max-width: 768px) {
    .inner-container {
        width: unset;
        padding: 0 1rem;
    }
    .main-container h1, #Hero h1 {
        font-size: 2rem;
    }
    .main-container h5, #ClassificationSystem h5, #SupportedPlatforms h5 {
        font-size: 1.25rem;
    }
}